@tailwind base;
@tailwind components;
@tailwind utilities;

.search-button:hover{
    background-color: rgb(233, 244, 253);
    color: rgb(180, 180, 235);
}

.nav-button:hover{
    color: rgb(74, 93, 239);
}

.nav-menu{
    background-color: aliceblue;
    border-radius: 7px;
}

.search-bar{
    border-radius: 10px;
}
.search-button{
    border-radius: 15px;
}

.header-title{
    color: rgb(70, 105, 173);
}